html,body{height:100%;}

body {
    background-color: #ddd;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}
a {
    color: #000;
    text-decoration: underline;
}
button:not([data-state]) {
    background-color: #bbb;
    border: 4px solid transparent;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    outline: none;
    padding: 6px 12px;
    transition: 200ms ease;
}
button:not([data-state]):hover {
    border-color: #777;
}
button:not([data-state]):active {
    background-color: #777;
    transform: translateY(2px);
}


#body {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 100%;
    max-width: 240px;
}


#tictactoe {
    background-color: #bbb;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 6px;
}

#tictactoe > .tictactoe__row {
    display: flex;
    flex-direction: row;
}

#tictactoe > .tictactoe__row > button {
    background-color: #ddd;
    border: 4px solid transparent;
    border-radius: 4px;
    display: flex;
    height: 64px;
    margin: 6px;
    outline: none;
    position: relative;
    transition: 200ms ease;
    width: 64px;
}
#tictactoe > .tictactoe__row > button[data-state="cross"],
#tictactoe > .tictactoe__row > button[data-state="circle"] {
    background-color: #eee;
}
#tictactoe > .tictactoe__row > button[data-state="cross"].won {
    border-color: #db9a0f;
}
#tictactoe > .tictactoe__row > button[data-state="circle"].won {
    border-color: #20db0f;
}
#tictactoe:not([data-player-turn="empty"]) > .tictactoe__row > button[data-state="empty"]:hover {
    background-color: #eee;
    border-color: #777;
    cursor: pointer;
}
#tictactoe:not([data-player-turn="empty"]) > .tictactoe__row > button[data-state="empty"]:active {
    transform: translateY(2px);
}
#tictactoe[data-player-turn="cross"] > .tictactoe__row > button[data-state="empty"]:hover::after {
    background-image: url(../media/cross.svg);
    opacity: 0.35;
}
#tictactoe[data-player-turn="circle"] > .tictactoe__row > button[data-state="empty"]:hover::after {
    background-image: url(../media/circle.svg);
    opacity: 0.35;
}
#tictactoe > .tictactoe__row > button::after {
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#tictactoe > .tictactoe__row > button[data-state="cross"]::after {
    background-image: url(../media/cross.svg);
}
#tictactoe > .tictactoe__row > button[data-state="circle"]::after {
    background-image: url(../media/circle.svg);
}


#tictactoe-ctrl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 16px 0;
    width: 100%;
}


#tictactoe-advisor {
    cursor: default;
    display: block;
    height: 36px;
    margin: 0 0 16px 0;
    position: relative;
    width: 100%;
}
#tictactoe-advisor > div {
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 600;
    left: 50%;
    opacity: 0.0;
    position: absolute;
    top: 50%;
    transition: 200ms ease;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 0;
}
#tictactoe-advisor > div > img {
    height: 24px;
    margin: 0 6px 0 0;
    width: 24px;
}
#tictactoe-advisor > div > #tttctrl__switch {
    background-color: #eee;
    display: block;
    height: 36px;
    margin: 0 0 0 24px;
    padding: 0;
    position: relative;
    width: 36px;
}
#tictactoe-advisor > div > #tttctrl__switch::after {
    background-image: url(../media/circle.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    content: "";
    display: block;
    height: 24px;
    left: 50%;
    pointer-events: none !important;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
}
#tictactoe-advisor:not([data-advisor="draw"]) > div > span {
    border-left: 2px solid #bbb;
    display: block;
    padding: 0 0 0 6px;
}
#tictactoe-advisor[data-advisor="xWon"] > div.ttta__x-won {
    opacity: 1.0;
    z-index: 1;
}
#tictactoe-advisor[data-advisor="xWonAI"] > div.ttta__x-won-ai {
    opacity: 1.0;
    z-index: 1;
}
#tictactoe-advisor[data-advisor="xTurn"] > div.ttta__x-turn {
    opacity: 1.0;
    z-index: 1;
}
#tictactoe-advisor[data-advisor="xTurnSwitch"] > div.ttta__x-turn-switch {
    opacity: 1.0;
    z-index: 1;
}
#tictactoe-advisor[data-advisor="xTurnAI"] > div.ttta__x-turn-ai {
    opacity: 1.0;
    z-index: 1;
}
#tictactoe-advisor[data-advisor="oWon"] > div.ttta__o-won {
    opacity: 1.0;
    z-index: 1;
}
#tictactoe-advisor[data-advisor="oWonAI"] > div.ttta__o-won-ai {
    opacity: 1.0;
    z-index: 1;
}
#tictactoe-advisor[data-advisor="oTurn"] > div.ttta__o-turn {
    opacity: 1.0;
    z-index: 1;
}
#tictactoe-advisor[data-advisor="oTurnAI"] > div.ttta__o-turn-ai {
    opacity: 1.0;
    z-index: 1;
}
#tictactoe-advisor[data-advisor="draw"] > div.ttta__draw {
    opacity: 1.0;
    z-index: 1;
}


#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 24px 0 0 0;
}
